* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* nav */
.navCenter {
	top: 0;
	position: fixed;
	width: 100%;
	height: 35px;
	background-color: white;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	transition: top 0.2s linear;
	z-index: 1;
}
.navNoFixed {
	top: -35px;
}
.navButton {
	background: transparent;
	font-size: 2.5rem;
	width: 40px;
	border: none;
	overflow: hidden;
	transition: all 0.5s linear;
}
.navButton:hover {
	cursor: pointer;
}
.navButton:focus {
	outline: none;
}
.navButton :active {
	transform: scale(1.05);
}
.navButtonShow {
	background-color: rgba(255, 250, 250);
	box-shadow: 2px 1px 4px rgba(66, 64, 64);
}
.navLogo {
	margin: auto;
	display: flex;
	text-decoration: none;
}
.navIcon {
	padding-top: 4px;
	margin-right: 5px;
	font-size: 1.8rem;
	width: 35px;
	color: black;
}
.navTitle {
	color: black;
	letter-spacing: 4px;
	transition: all 0.5s ease;
}
.navTitle:hover {
	color: rgb(90, 84, 84);
}
.navCart {
	display: flex;
	margin-right: 10px;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease;
}
.navCart:hover {
	opacity: 0.6;
}
.navCart:active {
	transform: scale(1.05);
}
.navCartIcon {
	margin-top: 6px;
	font-size: 1.55rem;
	color: black;
}
.navCount {
	margin: 2px 4px 0 -10px;
	background-color: rgb(55, 142, 241);
	padding: 1px;
	height: 15px;
	width: 15px;
	font-size: 0.6rem;
	text-align: center;
	color: white;
	border-radius: 100px;
	overflow: hidden;
	transition: all 0.2s ease;
}
.navCountZero {
	background-color: rgb(168, 167, 167);
}
.cartCountFlash {
	transform: scale(1.5);
	background-color: #dfb9b6;
	opacity: 0.8;
}
.navCartTitle {
	margin: 3px 0 0 0;
	font-size: 1rem;
	font-family: Georgia, 'Times New Roman', Times, serif;
}
.cartEmpty {
	margin-top: 30px;
	text-align: center;
	font-size: 0.7rem;
	color: rgb(150, 147, 147);
}
.navCartItem {
	margin: 20px 0 10px -15px;
	border-top: 0.6px solid rgba(170, 170, 170, 0.603);
}
.navPriceDiv {
	margin: 20px 10px 0 0;
	display: flex;
	justify-content: space-between;
	font-weight: 550;
	font-size: 0.9rem;
}
.cartInfo {
	font-size: 0.55rem;
	color: rgb(107, 105, 105);
}
.navLinkDiv {
	margin: 20px 10px 0 0;
	display: flex;
	justify-content: space-between;
}
.navCartLink {
	width: 100px;
	height: 30px;
	padding-top: 5px;
	border: 1px solid grey;
	text-align: center;
	text-decoration: none;
	background-color: rgb(31, 30, 30);
	color: white;
	font-weight: 650;
	font-size: 0.8rem;
	transition: all 0.3s linear;
}
.navCartLink:hover {
	opacity: 0.8;
}
.navCartLink:active {
	transform: scale(1.01);
}
.navCartColor {
	background-color: #028702;
}
.cartList {
	position: fixed;
	z-index: 1;
	height: 100%;
	width: 250px;
	right: 0;
	margin-top: 35px;
	padding-left: 15px;
	background-color: rgba(255, 250, 250);
	border-right: 2px solid gainsboro;
	box-shadow: 2px 3px 4px rgba(66, 64, 64);
	text-decoration: none;
	padding-top: 10px;
	transition: all 0.35s linear;
	overflow: hidden;
}
.openCart {
	right: -250px;
}
.navList {
	position: fixed;
	z-index: 1;
	height: 100%;
	width: 250px;
	left: 0;
	margin-top: 35px;
	background-color: rgba(255, 250, 250);
	border-right: 2px solid gainsboro;
	box-shadow: 2px 3px 4px rgba(66, 64, 64);
	text-decoration: none;
	padding-top: 10px;
	transition: all 0.35s linear;
	overflow: hidden;
}
.openNav {
	left: -250px;
}
.eachNavList {
	list-style: none;
	margin: 15px 0 0 0;
	padding: 10px 10px 10px 20px;
	transition: all 0.4s ease;
	overflow: hidden;
}
.eachNavList a {
	text-decoration: none;
	color: black;
	font-size: 1.3rem;
	letter-spacing: 1px;
	font-family: Georgia;
	text-transform: capitalize;
	transition: all 0.5s ease;
}
.eachNavList:hover {
	background-color: rgb(250, 240, 227);
	padding-left: 30px;
}
.eachNavList a:hover {
	color: rgb(163, 158, 158);
}
@media screen and (min-width: 1000px) {
	.navButton {
		display: none;
	}
	.navLogo {
		margin: auto 2vw auto 5vw;
		display: inline;
	}
	.navIcon {
		display: none;
	}
	.navList {
		position: static;
		display: flex;
		height: 100%;
		width: auto;
		margin: auto;
		background-color: transparent;
		border: none;
		box-shadow: none;
		padding-top: 0;
	}
	.eachNavList {
		margin: 7px 6vw auto 0;
		padding: 0;
		height: 25px;
	}
	.eachNavList a {
		font-size: 1.1rem;
		letter-spacing: 1.5px;
		font-weight: 400;
		color: rgb(43, 42, 42);
		text-align: center;
		padding: 4px 7px 4px 7px;
		line-height: 25px;
	}
	.eachNavList:hover {
		padding-left: 0;
		border-radius: 10px;
	}
}
/* end of nav */
/* footer */
.footer {
	height: 10vh;
	background-color: rgb(95, 92, 92);
	overflow: hidden;
}
.footerInfo {
	color: white;
	margin: 10px 0 0 40px;
	font-size: 0.8rem;
	cursor: default;
}
.footerLogo {
	display: flex;
	justify-content: space-between;
	margin: 15px 23vw 0 23vw;
}
.footerEachLogo {
	color: white;
	font-size: 1.3rem;
	transition: all 0.3s linear;
}
.footerEachLogo:hover {
	color: rgb(199, 194, 194);
}
@media screen and (min-width: 1000px) {
	.footer {
		display: flex;
		justify-content: space-between;
	}
	.footerInfo {
		margin: 25px 5vw 0 5vw;
		font-size: 1rem;
	}
	.footerLogo {
		margin: 27px 3vw 0 0;
	}
	.footerEachLogo {
		margin-right: 100px;
		color: white;
		font-size: 1.5rem;
		transition: all 0.3s linear;
	}
}
/* end of footer */
/* hero */
.hero {
	position: relative;
	width: 100%;
	height: 90vh;
	background: center/cover no-repeat;
	transition: all 1s ease;
	padding-top: 15vh;
}
.heroTitle {
	margin: 0 auto 0 auto;
	text-align: center;
	color: rgba(255, 249, 249, 0.938);
	font-size: 3.5rem;
	letter-spacing: 4px;
	text-shadow: 2px 2px 5px rgb(37, 36, 36);
	cursor: default;
}
.heroCenter {
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
}
.heroLogo {
	font-size: 3.5rem;
	margin: 0 5px 0 5px;
	color: rgba(209, 207, 207, 0.479);
	transition: all 1s ease;
	cursor: pointer;
}
.heroLogo:hover {
	color: rgba(209, 207, 207, 0.747);
}
.heroBanner {
	width: 200px;
	height: 60px;
	background-color: #af9a7d;
	text-transform: capitalize;
	font-size: 1.5rem;
	text-align: center;
	padding-top: 10px;
	letter-spacing: 1.3px;
	font-family: Georgia;
	font-weight: 520;
	color: rgb(39, 38, 38);
	text-decoration: none;
	border: 5px solid #af9a7d;
	box-shadow: 2px 3px 4px black;
	border-radius: 2px;
	cursor: pointer;
	transition: all 1.5s ease;
	overflow: hidden;
}
.heroBanner:hover {
	background-color: transparent;
	color: #af9a7d;
	text-shadow: 5px 5px 8px #31302e;
}
.heroImgList {
	position: absolute;
	display: flex;
	justify-content: space-between;
	bottom: 5px;
	left: 50%;
	width: 70px;
	margin-left: -35px;
}
.heroImgSelected,
.heroImgNotSelected {
	overflow: hidden;
	height: 10px;
	width: 10px;
	border: 1.2px solid rgb(5, 5, 5);
	background-color: rgb(5, 5, 5);
	border-radius: 40px;
}
.heroImgNotSelected {
	background-color: transparent;
}
@media screen and (min-width: 560px) {
	.heroCenter {
		margin-top: 120px;
	}
}
@media screen and (max-width: 560px) {
	.heroLogo {
		display: none;
	}
	.heroBanner {
		margin: 0 auto;
	}
}
/* end of hero */
/* services */
.services {
	padding: 4% 15% 4% 15%;
	background-color: #dbdbdb;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-row-gap: 2rem;
	grid-column-gap: 4rem;
}
.eachService {
	text-align: center;
	cursor: default;
}
.serviceLogo {
	font-size: 3rem;
}
.serviceTitle {
	font-style: italic;
	margin-bottom: 20px;
}
.serviceInfo {
	font-size: 0.8rem;
	color: rgb(71, 69, 69);
}
@media screen and (max-width: 1430px) and (min-width: 1000px) {
	.services {
		grid-template-columns: repeat(2, minmax(200px, 1fr));
	}
}
/* end of service */
/* about & contact */
.about {
	background-color: rgb(246, 248, 248);
	margin-top: 35px;
	overflow-x: hidden;
}
.aboutImg {
	width: 70vw;
	margin: 50px 15vw 30px 15vw;
	border: 2px solid rgb(160, 157, 157);
}
.aboutTitle {
	margin: 0 0 10px 17vw;
	font-size: 1.6rem;
	letter-spacing: 3px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	cursor: default;
}
.aboutTitleLine {
	width: 100px;
	margin-left: 17vw;
	border-top: 4px solid #5fb7ea;
}
.aboutInfo {
	margin: 20px 15vw 40px 15vw;
	font-size: 0.85rem;
	color: rgb(105, 105, 105);
}
.aboutA {
	text-decoration: none;
}
.aboutButton,
.contactButton {
	width: 130px;
	margin: 20px 0 40px calc(15vw + 4px);
	padding: 8px 13px;
	background-color: #5fb7ea;
	outline: 2px solid #5fb7ea;
	outline-offset: 3px;
	color: white;
	letter-spacing: 1px;
	text-align: center;
	cursor: pointer;
	transition: color 2s ease;
	transition: background-color 2s ease;
	text-transform: uppercase;
}
.aboutButton:hover,
.contactButton:hover {
	color: #5fb7ea;
	background-color: white;
}
.contactForm {
	margin: 40px 10vw 40px 15vw;
}
.contactForm1,
.contactForm2 {
	display: block;
	margin-bottom: 30px;
	width: 70vw;
	height: 35px;
	padding-left: 5px;
	border: 1px solid rgb(218, 214, 214);
	border-radius: 5px;
	letter-spacing: 1px;
	box-shadow: 1px 1px 3px rgb(207, 207, 207);
	color: rgb(71, 71, 71);
}
.contactForm2 {
	resize: none;
	height: 150px;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
}
.contactForm1:focus,
.contactForm2:focus {
	outline: none;
	box-shadow: 1px 1px 5px #6d8ccf;
}
.contactButton {
	font-size: 1rem;
	letter-spacing: 2px;
	margin: 20px 0 40px 4px;
	border: none;
}
@media screen and (min-width: 1000px) {
	.about {
		height: calc(90vh - 35px);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
	.aboutImg {
		width: 500px;
		margin: 120px 0 30px 5vw;
	}
	.aboutSection {
		width: 50vw;
		margin: 90px 5vw 30px 10vw;
	}
	.aboutTitle,
	.aboutTitleLine {
		margin-left: 0;
	}
	.aboutInfo {
		width: 30vw;
		margin: 20px 5vw 40px 0;
	}
	.aboutButton {
		margin-left: 4px;
	}
	.contactForm {
		margin: 20px 10vw 20px 0;
	}
	.contactForm1,
	.contactForm2 {
		margin-bottom: 20px;
		width: 30vw;
		height: 30px;
	}
	.contactForm2 {
		height: 110px;
	}
}
@media screen and (min-width: 1250px) {
	.aboutImg {
		margin: 150px 0 30px 15vw;
	}
	.aboutSection {
		margin: 120px 5vw 30px 10vw;
	}
	.contactForm1,
	.contactForm2 {
		width: 25vw;
	}
}
/* end of about & contact */
/* load */
.load {
	width: 100vw;
	margin: 50px auto;
	padding: 30px;
	text-align: center;
}
.loadPic {
	width: 80px;
}
/* end of load */
/* feature */
.feature {
	padding-top: 10px;
}
.featureTitle {
	margin-left: 25px;
	letter-spacing: 1px;
	font-size: 1.7rem;
	text-shadow: 0.5px 0.5px 3px rgb(209, 209, 209);
	text-transform: uppercase;
	color: rgb(54, 54, 54);
}
.featureInfo {
	margin: 60px 10vw;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-row-gap: 70px;
	grid-column-gap: 40px;
}
/* end of feature */
/* product */
.product {
	position: relative;
	width: 100%;
	height: 100%;
	border: 0.5px solid rgb(230, 229, 229);
	border-top: 0;
	border-radius: 10px;
}
.productSaleTitle {
	width: calc(100% + 1px);
	height: 15%;
	color: white;
	background-color: red;
	font-size: 1.3rem;
	letter-spacing: 3px;
	padding: 4px 5px 5px 5px;
	text-align: center;
	text-shadow: 3px 1px 1px rgb(65, 65, 65);
	font-family: Comic Sans MS;
	clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
	border-radius: 10px 10px 0 0;
	cursor: default;
}
.productBlock {
	height: 15%;
}
.productMainPart:hover .productLink {
	opacity: 1;
}
.productMainPart:hover .productInfoPart {
	opacity: 0.3;
	transform: scale(1.03);
	transition: all 1.5s ease;
}
.productInfoPart {
	height: 50%;
	margin: 15px 5px 15% 15px;
	display: flex;
	justify-content: space-between;
}
.productPhoto {
	width: 45%;
	margin-right: 5%;
}
.productNamePart {
	width: 50%;
}
.productBrandPic {
	width: 55%;
	margin: 5px;
}
.productName {
	font-size: 0.9rem;
	margin: 5px;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(31, 31, 31);
	letter-spacing: 1px;
}
.productLink {
	position: absolute;
	opacity: 0;
	top: 50%;
	left: 50%;
	width: 220px;
	height: 80px;
	margin: -40px 0 0 -110px;
	padding-top: 20px;
	text-align: center;
	text-decoration: none;
	font-size: 2.2rem;
	font-weight: bolder;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	color: white;
	background-color: rgba(124, 124, 124, 0.705);
	border: 3px solid rgba(124, 124, 124, 0.527);
	box-shadow: 5px 5px 5px rgba(124, 124, 124, 0.603);
	transition: all 0.5s ease;
}
.productLink:hover {
	color: rgb(109, 109, 109);
	background-color: transparent;
}
.productLastPart {
	width: 100%;
	position: relative;
	height: 55px;
	border-radius: 0 0 5px 5px;
	justify-content: space-between;
	background-color: #dbdbdb;
}
.productPricePart1 {
	position: absolute;
	background-color: rgb(247, 247, 48);
	top: -50px;
	left: 18px;
	height: 180%;
	width: 115px;
	border: 1px solid black;
	box-shadow: 5px 5px 3px black;
	padding: 5px 7px;
}
.productPricePart2 {
	height: 55px;
	top: -20px;
}
.productLastPrice1 {
	text-align: center;
	font-size: 0.85rem;
	font-family: Comic Sans MS;
	font-weight: bolder;
}
.productLastPrice2 {
	position: relative;
}
.productLastPrice2:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0;
	width: 95%;
	height: 3.5px;
	background: #eb0808;
	transform: translateY(-50%) rotate(-15deg);
	overflow: hidden;
	white-space: nowrap;
}
.productNowPrice {
	font-family: Comic Sans MS;
	text-align: center;
	font-size: 1.7rem;
	font-weight: bolder;
	color: red;
}
.productCart {
	right: 0;
	border-radius: 0 0 5px 0;
	position: absolute;
	background-color: rgb(0, 0, 0);
	height: 100%;
	width: 60px;
	color: white;
	display: flex;
	text-align: center;
	align-items: center;
	text-decoration: none;
	transition: all 0.3s linear;
	cursor: pointer;
}
.productCartPlus {
	font-weight: bolder;
	font-size: 0.8rem;
	margin-left: 13px;
}
.productCartLogo {
	margin-left: -2px;
	font-size: 1.7rem;
}
.productCart:hover {
	background-color: rgb(77, 75, 75);
}
/* end of product */
/* cartItem */
.cart1 {
	display: flex;
	justify-content: space-between;
	padding: 10px 10px;
	border-bottom: 0.6px solid rgba(170, 170, 170, 0.603);
}
.cartLink {
	text-decoration: none;
}
.cartItemPhoto {
	width: 70px;
}
.cartItemMainPart {
	position: relative;
	margin: 0 10px;
	width: 100px;
}
.cartItemName {
	color: rgb(88, 88, 88);
	font-size: 0.5rem;
	transition: all 0.3s linear;
}
.cartItemName:hover {
	color: rgb(146, 146, 146);
}
.cartAmountBox {
	position: absolute;
	display: flex;
	bottom: 3px;
	justify-content: space-between;
	width: 70px;
	height: 25px;
	border: 1px solid rgba(202, 202, 202, 0.767);
	box-shadow: 1px 1px 3px rgb(148, 148, 148);
	padding: 0 4px;
}
.cartAmountTrigger {
	cursor: pointer;
	font-weight: 600;
	transition: all 0.3s linear;
}
.cartAmountTrigger:active {
	transform: scale(1.01);
}
.cartAmount {
	cursor: default;
}
.cartRemove {
	position: absolute;
	bottom: 10px;
	left: 85px;
	font-size: 0.5rem;
	color: rgb(161, 161, 161);
	cursor: pointer;
	transition: all 0.3s linear;
}
.cartRemove:active {
	transform: scale(1.01);
}
.cartPrice {
	width: 30px;
	font-size: 0.8rem;
	font-weight: 600;
}
.cart2 {
	display: flex;
	justify-content: space-between;
	padding: 10px 10px;
	border-bottom: 0.6px solid rgba(170, 170, 170, 0.603);
}
.cartItem2 {
	display: flex;
}
.cartItemPhoto2 {
	width: 80px;
	color: rgba(247, 242, 213, 0.089);
}
.cartItemName2 {
	color: rgb(59, 59, 59);
	font-size: 0.75rem;
	transition: all 0.3s linear;
	margin: 5px 30px 0 10px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cartItemName2:hover {
	color: rgb(82, 82, 82);
}
.cartAmountBox2 {
	display: flex;
	justify-content: space-between;
	width: 70px;
	height: 25px;
	border: 1px solid rgba(202, 202, 202, 0.767);
	box-shadow: 1px 1px 3px rgb(148, 148, 148);
	padding: 0 4px;
	margin-top: 10px;
}
.cartAmountTrigger2 {
	cursor: pointer;
	font-weight: 600;
	transition: all 0.3s linear;
}
.cartAmountTrigger2:active {
	transform: scale(1.01);
}
.cartAmount2 {
	cursor: default;
}
.cartRemove2 {
	font-size: 0.7rem;
	color: rgb(161, 161, 161);
	padding-left: 30px;
	cursor: pointer;
	transition: all 0.3s linear;
	margin-top: 10px;
}
.cartRemove2:active {
	transform: scale(1.01);
}
.cartPrice2 {
	width: 30px;
	font-size: 0.8rem;
	font-weight: 600;
	margin: 5px 0 0 0;
	padding-left: 35px;
}
@media screen and (min-width: 1000px) {
	.cartItemPhoto2 {
		width: 100px;
	}
	.cartItemName2 {
		font-size: 0.9rem;
		margin: 15px 0 0 35px;
	}
	.cartItemMain {
		margin-top: 5px;
		display: flex;
		flex-flow: row;
	}
	.cartRemove2 {
		order: 0;
		font-size: 0.8rem;
		margin: 13px 25px 0 0;
	}
	.cartAmountBox2 {
		order: 1;
		width: 100px;
	}
	.cartPrice2 {
		order: 3;
		font-size: 1rem;
		margin: 10px 50px 0 20px;
	}
}
/*end of cartItem*/
/* cartPage */
.cartPage {
	min-height: calc(90vh - 35px);
	width: 100%;
	margin: 45px auto 0 auto;
	background-color: rgba(247, 242, 213, 0.089);
}
.cartPageEmpty {
	text-align: center;
	padding: 33vh 0 0 0;
	font-size: 0.85rem;
}
.cartPageEmptyPart {
	width: 100%;
}
.cartPageLink {
	color: black;
	text-decoration: none;
}
.cartPageButton {
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
	border: 1.5px solid rgb(158, 158, 158);
	box-shadow: 1px 1px 2px rgb(158, 158, 158);
	width: 150px;
	font-size: 0.75rem;
	font-weight: 500;
	padding: 10px 6px;
	transition: all 0.3s linear;
}
.cartPageButton:hover {
	background-color: rgba(221, 220, 220, 0.274);
}
.cartPageButton:active {
	transform: scale(1.01);
}
.cartPagePart {
	padding: 10px;
	width: 100%;
}
.cartPageTitle {
	margin: 10px 0 0 10px;
	font-size: 1.1rem;
	font-family: Georgia, 'Times New Roman', Times, serif;
	cursor: default;
}
.cartPageItem {
	margin: 40px 0 10px 0;
	border-top: 0.6px solid rgba(170, 170, 170, 0.603);
}
.cartPageDiv {
	float: right;
	margin: 40px 30px 0 0;
}
.cartPagePriceDiv {
	display: flex;
	width: 80px;
	cursor: default;
}
.cartPageTitle1 {
	margin-left: 25px;
	font-size: 1.15rem;
	font-weight: bolder;
}
.cartPageInfoDiv {
	margin: 1px 0 0 26px;
	display: flex;
	cursor: default;
}
.cartPageInfo1 {
	font-size: 0.6rem;
	margin-right: 21px;
}
.cartPageInfo2 {
	font-size: 0.6rem;
	color: rgb(168, 164, 164);
}
.navPageLinkDiv {
	width: 90%;
	margin: 130px auto;
}
.cartPageLink1 {
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #028702;
	margin-bottom: 20px;
	height: 38px;
	color: white;
	font-size: 1.1rem;
	border-radius: 1px;
	box-shadow: 2px 2px 3px rgb(190, 188, 188);
	transition: all 0.3s ease;
}
.cartPageLink2 {
	background-color: transparent;
	border: 1px solid rgb(231, 226, 226);
	color: black;
	font-size: 0.9rem;
}
.cartPageLink1:hover {
	background-color: green;
}
.cartPageLink2:hover {
	background-color: rgba(238, 234, 234, 0.349);
}
.cartPageLink1:active {
	transform: scale(1.01);
}
.cartPageLogo {
	margin-right: 6px;
}
.cartPageButton1 {
	font-weight: 600;
}
@media screen and (min-width: 600px) {
	.navPageLinkDiv {
		width: 500px;
	}
}
@media screen and (min-width: 1000px) {
	.cartPage {
		width: 1000px;
		border-top: 1px solid rgb(187, 186, 186);
		border-left: 1px solid rgb(187, 186, 186);
		border-right: 1px solid rgb(187, 186, 186);
		box-shadow: 2px 2px 3px rgb(241, 241, 241);
	}
	.cartPageTitle {
		font-size: 1.4rem;
	}
	.navPageLinkDiv {
		display: flex;
		width: 100%;
		margin: 130px 0 50px 0;
		flex-flow: row;
		justify-content: flex-end;
	}
	.cartPageLink1 {
		margin-right: 31px;
		font-size: 0.9rem;
		width: 180px;
		order: 1;
	}
	.cartPageLink2 {
		font-size: 0.7rem;
		width: 130px;
		margin-right: 30px;
		order: 0;
	}
}
/* end of cartPage */
/* detailPage */
.detailPage {
	margin-top: 35px;
	min-height: calc(90vh - 35px);
}
.detailPage .load {
	margin: 0;
	padding-top: 30vh;
}
.detailMainPart {
	margin: 50px 10px 10px 20px;
}
.detailTitle {
	margin-bottom: 30px;
}
.detailLogo {
	width: 80px;
}
.detailName {
	margin-top: -7x;
	font-size: 1.14rem;
	color: rgb(29, 29, 29);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.picSwithchBox {
	width: 90vw;
}
.picBox {
	width: 90%;
	margin: 0 auto;
	display: flex;
	padding: 20px 0;
	overflow: hidden;
}
.detailPhoto {
	width: 100%;
	position: relative;
	right: 100%;
}
.detailPhotoActive1 {
	-ms-transform: translateX(calc(-100%));
	-moz-transform: translateX(calc(-100%));
	-webkit-transform: translateX(calc(-100%));
	-o-transform: translateX(calc(-100%));
	transition: all 0.4s ease;
}
.detailPhotoActive2 {
	-ms-transform: translateX(calc(100%));
	-moz-transform: translateX(calc(100%));
	-webkit-transform: translateX(calc(100%));
	-o-transform: translateX(calc(100%));
	transition: all 0.4s ease;
}
.picSwitchTrigger {
	margin: 40px 0 50px 0;
	width: 100%;
	justify-content: center;
	display: flex;
}
.detailTriggerBox {
	border: 1px solid rgb(201, 201, 201);
	width: 11%;
	height: 11%;
	padding: 5px;
	margin: 0 2px;
	box-shadow: 1px 1px 3px rgb(184, 184, 184);
	order: 1;
}
.detailTriggerBoxActive {
	border: 1px solid rgb(37, 37, 37);
}
.detailTriggerBoxNone1 {
	border: 1px solid rgb(201, 201, 201);
	width: 11%;
	height: 11%;
	padding: 5px;
	margin: 0 2px;
	box-shadow: 1px 1px 3px rgb(184, 184, 184);
	order: 1;
}
.detailTriggerBoxNone2 {
	border: 1px solid rgb(201, 201, 201);
	width: 11%;
	height: 11%;
	padding: 5px;
	margin: 0 2px;
	box-shadow: 1px 1px 3px rgb(184, 184, 184);
	order: 1;
}
.picButtonSwitch1 {
	border: 1px solid rgb(201, 201, 201);
	width: 11%;
	height: 11%;
	padding: 5px;
	margin: 0 2px;
	box-shadow: 1px 1px 3px rgb(184, 184, 184);
	background-color: white;
	order: 1;
	position: relative;
	z-index: 1;
	left: calc(11% + 4px);
	transition: all 0.4s ease;
	cursor: pointer;
}
.picButtonSwitch1:hover {
	transform: scale(1.03);
}
.picButtonSwitch1Active {
	-ms-transform: translateX(calc(-100% - 4px));
	-moz-transform: translateX(calc(-100% - 4px));
	-webkit-transform: translateX(calc(-100% - 4px));
	-o-transform: translateX(calc(-100% - 4px));
	border: none;
	transition: all 0.5s ease;
}
.picButtonSwitch2 {
	border: 1px solid rgb(201, 201, 201);
	width: 11%;
	height: 11%;
	padding: 5px;
	margin: 0 2px;
	box-shadow: 1px 1px 3px rgb(184, 184, 184);
	background-color: white;
	order: 2;
	position: relative;
	z-index: 1;
	right: calc(11% + 4px);
	transition: all 0.4s ease;
	cursor: pointer;
}
.picButtonSwitch2:hover {
	transform: scale(1.03);
}
.picButtonSwitch2Active {
	-ms-transform: translateX(calc(100% + 4px));
	-moz-transform: translateX(calc(100%+ 4px));
	-webkit-transform: translateX(calc(100% + 4px));
	-o-transform: translateX(calc(100% + 4px));
	border: none;
	transition: all 0.5s ease;
}

/* end of detailPage */
