* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}
/* nav */
.navCenter {
	top: 0;
	position: fixed;
	width: 100vw;
	height: 35px;
	background-color: white;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	transition: top 0.2s linear;
	z-index: 1;
}
.navNoFixed {
	top: -35px;
}
.navButton {
	background: transparent;
	font-size: 2.5rem;
	width: 40px;
	border: none;
	overflow: hidden;
}
.navButton:hover {
	cursor: pointer;
}
.navButton:focus {
	outline: none;
}
.navButtonShow {
	background-color: rgba(255, 250, 250);
	box-shadow: 2px 1px 4px rgba(66, 64, 64);
}
.navLogo {
	margin: auto;
	display: flex;
	text-decoration: none;
}
.navIcon {
	padding-top: 4px;
	margin-right: 5px;
	font-size: 1.8rem;
	width: 35px;
	color: black;
}
.navTitle {
	color: black;
	letter-spacing: 4px;
	transition: all 0.5s ease;
}
.navTitle:hover {
	color: rgb(90, 84, 84);
}
.navCart {
	display: flex;
	margin-right: 30px;
	text-decoration: none;
}
.navCartIcon {
	margin-top: 6px;
	font-size: 1.55rem;
	color: black;
}
.navCount {
	margin: 2px 4px 0 -10px;
	background-color: rgb(55, 142, 241);
	padding: 1px;
	height: 15px;
	width: 15px;
	font-size: 0.6rem;
	text-align: center;
	color: white;
	border-radius: 100px;
	overflow: hidden;
}
.navCountZero {
	background-color: rgb(168, 167, 167);
}
.navList {
	position: fixed;
	z-index: 1;
	height: 100%;
	width: 250px;
	left: 0;
	margin-top: 35px;
	background-color: rgba(255, 250, 250);
	border-right: 2px solid gainsboro;
	box-shadow: 2px 3px 4px rgba(66, 64, 64);
	text-decoration: none;
	padding-top: 10px;
	transition: all 0.5s linear;
	overflow: hidden;
}
.openNav {
	left: -250px;
}
.eachNavList {
	list-style: none;
	margin: 15px 0 0 0;
	padding: 10px 10px 10px 20px;
	transition: all 0.4s ease;
	overflow: hidden;
}
.eachNavList a {
	text-decoration: none;
	color: black;
	font-size: 1.3rem;
	letter-spacing: 1px;
	font-family: Georgia;
	text-transform: capitalize;
	transition: all 0.5s ease;
}
.eachNavList:hover {
	background-color: rgb(250, 240, 227);
	padding-left: 30px;
}
.eachNavList a:hover {
	color: rgb(163, 158, 158);
}
@media screen and (min-width: 1000px) {
	.navButton {
		display: none;
	}
	.navLogo {
		margin: auto 2vw auto 5vw;
		display: inline;
	}
	.navIcon {
		display: none;
	}
	.navList {
		position: static;
		display: flex;
		height: 100%;
		width: auto;
		margin: auto;
		background-color: transparent;
		border: none;
		box-shadow: none;
		padding-top: 0;
	}
	.eachNavList {
		margin: 7px 6vw auto 0;
		padding: 0;
		height: 25px;
	}
	.eachNavList a {
		font-size: 1.1rem;
		letter-spacing: 1.5px;
		font-weight: 400;
		color: rgb(43, 42, 42);
		text-align: center;
		padding: 4px 7px 4px 7px;
		line-height: 25px;
	}
	.eachNavList:hover {
		padding-left: 0;
		border-radius: 10px;
	}
}
/*end of nav*/
/* hero */
.hero {
	position: relative;
	width: 100%;
	height: 90vh;
	background: center/cover no-repeat;
	transition: all 1.5s ease;
}
.heroErr {
	height: 100vh;
}
.heroTitle {
	margin: 15vh auto 0 auto;
	text-align: center;
	color: rgba(255, 249, 249, 0.938);
	font-size: 3.5rem;
	letter-spacing: 4px;
	text-shadow: 2px 2px 5px rgb(37, 36, 36);
	cursor: default;
}
.heroCenter {
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
}
.heroLogo {
	font-size: 3.5rem;
	margin: 0 5px 0 5px;
	color: rgba(209, 207, 207, 0.479);
	transition: all 1s ease;
	cursor: pointer;
}
.heroLogo:hover {
	color: rgba(209, 207, 207, 0.747);
}
.heroBanner {
	width: 200px;
	height: 60px;
	background-color: #af9a7d;
	text-transform: capitalize;
	font-size: 1.5rem;
	text-align: center;
	padding-top: 10px;
	letter-spacing: 1.3px;
	font-family: Georgia;
	font-weight: 520;
	color: rgb(39, 38, 38);
	text-decoration: none;
	border: 5px solid #af9a7d;
	box-shadow: 2px 3px 4px black;
	border-radius: 2px;
	cursor: pointer;
	transition: all 1.5s ease;
}
.heroBanner:hover {
	background-color: transparent;
	color: #af9a7d;
	text-shadow: 5px 5px 8px #31302e;
}
.heroImgList {
	position: absolute;
	display: flex;
	justify-content: space-between;
	bottom: 5px;
	left: 50%;
	width: 70px;
	margin-left: -35px;
}
.heroImgSelected,
.heroImgNotSelected {
	overflow: hidden;
	height: 10px;
	width: 10px;
	border: 1.2px solid rgb(5, 5, 5);
	background-color: rgb(5, 5, 5);
	border-radius: 40px;
}
.heroImgNotSelected {
	background-color: transparent;
}
@media screen and (min-width: 560px) {
	.heroCenter {
		margin-top: 120px;
	}
}
@media screen and (max-width: 560px) {
	.heroLogo {
		display: none;
	}
	.heroBanner {
		margin: 0 auto;
	}
}
/*end of hero*/
/* services */
.services {
	padding: 4% 15% 4% 15%;
	background-color: #dbdbdb;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-row-gap: 2rem;
	grid-column-gap: 4rem;
}
.eachService {
	text-align: center;
	cursor: default;
}
.serviceLogo {
	font-size: 3rem;
}
.serviceTitle {
	font-style: italic;
	margin-bottom: 20px;
}
.serviceInfo {
	font-size: 0.8rem;
	color: rgb(71, 69, 69);
}
@media screen and (max-width: 1430px) and (min-width: 1000px) {
	.services {
		grid-template-columns: repeat(2, minmax(200px, 1fr));
	}
}
